//pip install -r requirements.txt

python -m pip install --upgrade pip

python3 -m venv venv

.\ambient\venv\Scripts\activate OU venv\Scripts\Activate.ps1 OU source venv/bin/activate

pip install django djangorestframework drf-yasg djangorestframework-simplejwt

pip install django-filter

pip install django-cors-headers

python manage.py createsuperuser

python manage.py runserver 0.0.0.0:8000

//mudança dos settings com SWAGGER para token.